$background1: #313131; /*dark gray*/
$background2: #8B9798; /*medium gray*/
$background3: #e3e3e3; /*light gray*/

/* Wes Anderson color scheme: Moonrise Kingdom from https://github.com/karthik/wesanderson */
$primary-color: #F4B5BD; /*pink*/
$secondary-color: #85D4E3; /*blue*/
$tertiary-color: #FAD77B; /*yellow*/
$quaternary-color: #9C964A; /*green*/